@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
}

form{
    width: 448px;
    height: 500px;
    border: 1px solid #dadce0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

form a{
    color: #1a73e8;
    font-size: 15px;
}

form > div{
    margin: 20px 40px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.top img, h2{
    margin-bottom: 10px;
}

.top h2{
    font-weight: 400;
}

.login{
}

.login input{
    width: 335px;
    height: 54px;
    border: 1px solid #dadce0;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.info{
    display: flex;
    color: #5f6368;
    font-size: 15px;
    width: 370px;
}

.join{
    display: flex;
    justify-content: space-between;
    width: 370px;
    align-items: baseline;
}

.join span a{
    font-size: 13px;
}

.join button{
    width: 77px;
    height: 37px;
    background-color: #1a73e8;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.join button:hover{
    background-color: #1b66c9;
    box-shadow: 1px 1px 3px #c2c2c2;
}

.join button:active{
    background-color: #1c5fba;
    box-shadow: 1px 1px 3px #c2c2c2;
}

/* 하단메뉴 */

.f-menu{
    width: 470px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.f-menu select{
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.f-menu a{
    padding: 15px;
}

.f-menu select:hover{
    background-color: #eeeeee;
}

.f-menu a:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
}